/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --clr-main: #f26e56;
  --clr-white: #f6f6f6;
  --clr-accent: #fec347;
  --clr-third: #5694f2;
  --clr-black: #000;
  --clr-fourth: #323232;

  font-family: "Exo 2", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* utility */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* styling css here */

body {
  background-color: var(--clr-white);
  height: 100vh;
  overflow: auto;
}

.container {
  height: 100%;
  position: relative;
  border: 2px solid green;
  background-color: var(--clr-white);
  color: black;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
  overflow: scroll;
}

table,
th,
td {
  border: 1px solid;
}

.logo {
  color: var(--clr-main);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.main {
  margin-top: 2em;
}

.addForm {
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

input[type="text"] {
  outline: none;
  padding: 0.8em 0.9em;
  border-radius: 1em;
  border: 1px solid var(--clr-black);
  border-bottom: 3px solid var(--clr-black);
  background-color: var(--clr-white);
}

button {
  background-color: var(--clr-main);
  color: var(--clr-white);
  border: none;
  border-radius: 0.5em;
  padding: 0.8em 2em;
}

.trash {
  border: 2px solid var(--clr-main);
  background-color: var(--clr-white);
  padding: 0.1em 0.1em;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

table,
tr,
td,
th {
  border: none;
}
.content {
  display: flex;
  justify-content: center;
}
tr {
  padding: 4em 2em;
  border-bottom: 2px solid black;
  margin-top: 0.4em;
}

td {
  padding: 1em 2em;
}
